<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Barra de progreso</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            aria-valuenow="50"
            [attr.ariaValuenow]="percent1"
            [style.width] = "percent1 + '%'"
            aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>

        <br>

        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            aria-valuenow="50"
            [attr.ariaValuenow]="percent2"
            [style.width] = "percent2 + '%'"
            aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increaser (valueChange)="percent1=($event)" leyend="Blue Progress" [percent]="percent1"></app-increaser>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increaser (valueChange)="percent2=($event)"  leyend="Green Progess" [percent]="percent2"></app-increaser>
      </div>
    </div>
  </div>
</div>
