
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
        #input type="text" class="form-control"
        (keyup)="searchUsers( input.value )"
        placeholder="Buscar usuario...">
      </div>
    </div>
  </div>
</div>


<div class="row animated fadeIn" *ngIf="loading">
  <div class="alert alert-warning text-center">
    <strong> Cargando </strong>
    <br>
    <i class="fa fa-refresh fa-spin fa-2x"></i>
    <br>
    <span>Espe por favor</span>
  </div>
</div>


<div class="row animated fadein" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3>Usuarios registrados ( <small>123</small>)</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Imagen</th>
              <th scope="col">Correo</th>
              <th scope="col">Nombre</th>
              <th scope="col">Role</th>
              <th scope="col">Auth</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td class="w70">
                <img [src]="user.img | image" alt="Imagen" class="img50 img-circle">
              </td>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role }}</td>
              <td>
                <label *ngIf="user.google" class="label label-danger">Google</label>
                <label *ngIf="!user.google" class="label label-primary">Normal</label>
              </td>
              <td>
                <button class="btn btn-primary">
                  <i class="fa fa-save"></i>
                </button>
                <button (click)="deleteUser(user)" class="btn btn-danger">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <button (click)="changeSince(-5);" class="btn btn-secondary">
          Anteriores
        </button>

        <button (click)="changeSince(5);" class="btn btn-secondary">
          Siguiente
        </button>

      </div>
    </div>
  </div>
</div>
