
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input #input type="text" class="form-control" placeholder="Buscar usuario" value="value">
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="alert alert-warning text-center">
    <strong> Cargando </strong>
    <br>
    <i class="fa fa-refresh fa-spin fa-2x"></i>
    <br>
    <span>Espe por favor</span>
  </div>
</div>


<div class="row animated fadein">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3>Usuarios registrados ( <small>123</small>)</h3>        
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Imagen</th>
              <th scope="col">Correo</th>
              <th scope="col">Nombre</th>
              <th scope="col">Role</th>
              <th scope="col">Auth</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>
                <button class="btn btn-primary">
                  <i class="fa fa-save"></i>
                </button> 
                <button class="btn btn-danger">
                  <i class="fa fa-trash-o"></i>
                </button> 
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Otto</td>
              <td>Otto</td>
              <td>
                <button class="btn btn-primary">
                  <i class="fa fa-save"></i>
                </button> 
                <button class="btn btn-danger">
                  <i class="fa fa-trash-o"></i>
                </button> 
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Otto</td>
              <td>Otto</td>
              <td>
                <button class="btn btn-primary">
                  <i class="fa fa-save"></i>
                </button> 
                <button class="btn btn-danger">
                  <i class="fa fa-trash-o"></i>
                </button> 
              </td>
            </tr>
          </tbody>
        </table>

        <button class="btn btn-secondary">
          Anteriores
        </button> 

        <button class="btn btn-secondary">
          Siguiente
        </button> 

      </div>
    </div>
  </div>
</div>
