<div class="row animated fadeIn">

  <div class="col-lg-7">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Perfil del usuario</h4>
        <h6 class="card-subtitle"> nombre usuario </h6>

        <form ngNativeValidate #f="ngForm" (ngSubmit)="save( f.value )" class="form p-t-20">
          <div class="form-group">
            <label for="exampleInputuname">Nombre</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input [ngModel]="user.name" name="name" type="text" class="form-control"
                placeholder="Nombre de usuario" required>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Correo</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input [ngModel]="user.email" [disabled]="user.google" name="email" type="email"
                class="form-control" placeholder="Correo del usuario" required>
            </div>
          </div>

          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
            <i class="fa fa-save"></i>
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>


  <div class="col-lg-5">
    <div class="card">
      <div class="card-body" align="center">
        <h4 class="card-title">Fotografía del usuario</h4>
        <h6 class="card-subtitle"> nombre usuario </h6>

        <img *ngIf="!imgTemp" [src]="user.img | image" class="w150" alt="user">

        <img *ngIf="imgTemp" [src]="imgTemp" class="w150">

        <input (change)="chooseImg($event.target.files[0])" type="file">

        <br><br>

        <button (click)="changeImg()" [disabled]="!imgUpload" type="button"
          class="btn btn-block btn-success waves-effect waves-light m-r-10">
          <i class="fa fa-save"></i>
          Actualizar Foto
        </button>
      </div>
    </div>
  </div>

</div>
